

.hz-transition-1x {
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.hz-flashing {
    border : 1px solid #ccc;
    -webkit-box-shadow: 0 0 17px #effd45;
    -moz-box-shadow: 0 0 17px #effd45;
    box-shadow: 0 0 17px #effd45;
}


.lol {left : 50%;right:  80px}
.action > div{top:800px ; border :1px solid #ccc; }

@keyframes flash {
    0% {}
    10% {}
    20% {}
    30% {}
    40% {}
    50% {}
    60% {}
    70% {}
    80% {}
    90% {}
    100% {}
}




